
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lavacar - Recuperar contraseña</title>
    <link rel="stylesheet" href="~/UserTemp/css/registration.css">
</head>
<body>

    <div class="wrapper">
        <h2>Registro Exitoso</h2>
        <form class="form" action="@Url.Content("~/User/PasswordRecovery")" method="post">
            <div class="input-box">
                <div class="alert alert-warning" role="alert">
                    Su cuenta ha sido registrada exitosamente. Se ha enviado un correo de activación a <strong>@ViewBag.ActivationEmail</strong>
                </div>
            </div>

            <div class="text">
                <h3><a href="@Url.Action("Login","User")"> Volver al Inicio</a></h3>
            </div>
        </form>
    </div>

</body>
</html>
