@model Carwash.Models.ViewModel.RecoveryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lavacar - Recuperar contraseña</title>
    <link rel="stylesheet" href="~/UserTemp/css/registration.css">
</head>
<body>

        <div class="wrapper">
            <h2>Recuperar contraseña</h2>
            <form class="form" action="@Url.Content("~/User/PasswordRecovery")" method="post">
                <div class="input-box">
                    @Html.TextBoxFor(model => model.Email, new { @type = "text", @placeholder = "Ingresa tu email", @required = "" } )
                    @Html.ValidationMessageFor(model => model.Email, null, new { style = "color:red; margin-bottom:2px;" })
                </div>

                <div class="input-box button">
                    <input type="Submit" value="Enviar">
                </div>
                <div class="text">
                    <h3><a href="@Url.Action("Login","User")"> Volver</a></h3>
                </div>
            </form>
        </div>

</body>
</html>
