
@{
    ViewBag.Title = "Contact_Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">¡Mensaje enviado con éxito!</h5>
            <p class="card-text">Gracias por contactarnos. Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.</p>
            <i class="bi bi-check-circle display-1 text-success"></i>
        </div>
    </div>
</div>
